{% block artfakta %}

	<article data-controller="artfakta" data-artfakta-id-value="{{ taxon }}">
		<h2>Artfakta</h2>
		<div data-artfakta-target="artfaktaApi">
			<div data-artfakta-target="characteristics">

			</div>
			<div data-artfakta-target="ecology">
				
			</div>
		</div>
	</article>

{% endblock %}