{% block filters %}
	<aside data-controller="filters">
		<form>
			<label for="search">Sök</label>
			<input type="search" name="search">
			<label for="swedish">Endast med svensk förekomst
			<input type="checkbox" name="swedish"></label>
			<input type="submit">
		</form>
	</aside>
{% endblock %}