{% extends 'base.html.twig' %}

{% block title %}New Sighting{% endblock %}

{% block body %}
	<h1>Registrera glutt</h1>

	{{ include('sighting/_form.html.twig') }}

	<a href="{{ path('app_sighting_index') }}" class="button">Visa tidigare</a>
{% endblock %}
