@charset "UTF-8";
html {
  margin: 0;
  background: #2F5D62;
  font-family: "Segoe UI";
  letter-spacing: 0.2px;
  color: white;
  font-size: 18px;
}

body main {
  padding: 1rem 3rem;
}
body .container {
  margin: 3rem 0;
}
body .flex {
  display: flex;
}
body .flex.row {
  flex-direction: row;
  justify-content: space-between;
}
body .gap-3 {
  gap: 3rem;
}
body .gap-6 {
  gap: 6rem;
}
body .my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
body .my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
body .col-2 {
  flex-basis: 50%;
}
@media screen and (max-width: 700px) {
  body main {
    flex-flow: column wrap;
    padding: 0rem;
  }
  body header {
    display: flex;
    flex-flow: column;
  }
  body .s-column {
    flex-flow: column wrap;
  }
  body .col-2 {
    flex-basis: 100%;
  }
}

.print {
  display: flex;
  flex-wrap: wrap;
}
.print li {
  width: max(100px, 15%);
  padding: 0.1rem;
}
.print li:first-of-type {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.print li:before {
  content: "▢";
}

@media print {
  header {
    display: none !important;
  }
  li {
    color: black;
  }
}
.species-data .taxonomy {
  display: flex;
  align-items: flex-start;
  width: max-content;
  padding: 1rem 0;
}
.species-data .taxonomy .hierarchy-tree {
  margin: 1rem 0.5rem 0;
  display: block;
  width: 3rem;
  height: 1rem;
  border: solid white;
  border-width: 1px 1px 0 0;
}
@media screen and (max-width: 800px) {
  .species-data .taxonomy {
    flex-flow: column;
  }
  .species-data .taxonomy .hierarchy-tree {
    height: 0.7rem;
    width: 2rem;
    border-width: 0 0 1px 1px;
  }
}

header {
  padding: 0.2rem 0 2rem 0;
}

body header {
  display: flex;
  gap: 2rem;
}
body main h1, body h2, body h3, body h4, body h5 {
  margin: 0;
  font-weight: normal;
}
body ul {
  margin: 0.4rem 0;
  padding: 0;
  max-width: 100%;
  counter-reset: index;
  /* Element counter */
  /* Element separation */
}
body ul li {
  counter-increment: index;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 90%;
  padding: 0.4rem 0rem;
}
body ul li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 120%;
  text-align: right;
  font-weight: bold;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, #DFEEEA, #5E8B7E);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body ul li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
body ul .species {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  width: max-content;
  min-width: 58%;
  align-content: center;
}
body .list .list-item {
  position: relative;
}
body .list .list-item::before {
  content: "Glutt:";
  font-size: 80%;
  top: -5px;
  left: 0;
  position: absolute;
  transform: translateX(calc(-100% - 5px));
}
body form {
  padding: 2rem 0;
  border-radius: 5px;
}
body form label {
  width: 100%;
  display: block;
  margin: 1rem 0 0;
}
body form input[type=checkbox] {
  display: none;
}
body form input[type=checkbox] ~ label {
  border: 1px solid white;
  padding: 0.4rem 0.7rem;
  margin-bottom: 1rem;
  width: max-content;
  font-size: 80%;
  cursor: pointer;
}
body form input[type=checkbox]:checked ~ label {
  background: #172e2f;
  border-color: #172e2f;
}
body form textarea {
  width: 20rem;
  padding: 0.6rem;
  font-size: 80%;
}
body form .ts-wrapper {
  width: 21.2rem;
}
body input {
  background: transparent;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  color: white;
}
body a {
  display: inline-block;
  color: white;
  text-decoration: unset;
}
body a.arrow::after {
  content: "";
  display: inline-block;
  background: currentColor;
  width: 2rem;
  height: 0.6em;
  margin-left: 0.3rem;
  mask-image: url(../images/arrow.svg);
  -webkit-mask-image: url(../images/arrow.svg);
  mask-position: center right;
  mask-repeat: no-repeat;
  -webkit-mask-position: center right;
  -webkit-mask-repeat: no-repeat;
  margin-right: 1rem;
}
body a.button, body button {
  border: unset;
  margin: 1rem 1rem 1rem 0;
  padding: 0.6rem 2rem;
  background: #172e2f;
  color: white;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 14px;
  }
  body header {
    gap: 0.5rem;
  }
}

/*# sourceMappingURL=app.css.map */
